@import './common.scss';

.wrap{
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;

  .section{
    position: relative;
    margin: 0 auto;

    .main{
      margin: 0 auto;
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}

// section1
.sec1{
  
}

// section2
.sec2{
  
}

// section3
.sec3{
  
}

// section4
.sec4{
  
}

// section5
.sec5{
  
}

// section6
.sec6{
  
}

// section7
.sec7{
  
}

// section8
.sec8{
  
}