
* {
  margin: 0;
  padding: 0;
}
canvas {
  width: 100vw;
  height: 100vh;
}
.github-icon{
  position: fixed;
  top: 0;
  width: 30px;
  margin: 16px;
  opacity: 0.5;
  right: 0;
  cursor: pointer;
}
.overlay {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: opacity 5s ease;
  z-index: 1000;
}

@keyframes breathe {
  0%, 100% { opacity: 0.5; }
  50% { opacity: 1; }
}

.overlay.fade-out {
  opacity: 0;
  pointer-events: none;
}

.overlay img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotate-clockwise {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate-counterclockwise {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

.overlay img:first-child {
  animation: rotate-clockwise 15s linear infinite;
}

.overlay img:last-child {
  animation: rotate-counterclockwise 20s linear infinite;
}