@charset "UTF-8";
/*! Name: components Author: william Author URI:  Description: components would contain all the styling for elements that are self-contained units, like sliders, scrollbar-gutter, widgets etc. Version: 1.0.1 Tags: utils,sliders,widgets Update: February 19th,2024 */
/** 关闭按钮混合器 @param {Number} $width 按钮容器的宽度（按钮斜线的宽度） @param {Number} $height 按钮容器的高度 @param {Number} $top  按钮左右斜线距离按钮容器顶部的距离(为按钮容器高度的一半) @param $btn-color 按钮的颜色 */
.btn-close { position: relative; width: 28px; height: 28px; display: block; font-size: 0; }

.btn-close::before, .btn-close::after { content: ''; position: absolute; top: 14px; width: 28px; height: 2px; background: #6d5dfc; }

.btn-close::before { transform: rotate(45deg); }

.btn-close::after { transform: rotate(-45deg); }

/** checkbox勾按钮混合器 @param {Number} $c-width 按钮容器的宽度 @param {Number} $c-height 按钮容器的高度 @param {Number} $width 按钮斜线的宽度 @param {Number} $height 按钮斜线的高度 @param $btn-color 按钮的颜色 */
.checkbox { width: 28px; display: flex; justify-content: center; }

.checkbox input { display: none; }

.checkbox input:checked ~ label { box-shadow: inset 2px 2px 5px rgba(109, 93, 252, 0.6), inset -2px -2px 5px rgba(109, 93, 252, 0.6); }

.checkbox input:checked ~ label i { width: 28px; height: 28px; position: relative; }

.checkbox input:checked ~ label i::before { content: ''; position: absolute; top: 18px; left: 6px; width: 6px; height: 2px; background-color: #6d5dfc; transform: rotate(45deg); }

.checkbox input:checked ~ label i::after { content: ''; position: absolute; top: 14px; right: 2px; width: 18px; height: 2px; background-color: #6d5dfc; transform: rotate(-45deg); }

.checkbox label { box-shadow: 3px 3px 6px rgba(109, 93, 252, 0.2), -2px -2px 5px rgba(109, 93, 252, 0.4); cursor: pointer; position: relative; display: flex; justify-content: center; align-items: center; border-radius: 6px; width: 28px; height: 28px; }

.checkbox label:hover i { color: #6d5dfc; }

/** radio 单选按钮混合器 @param {Number} $width 按钮容器的宽度 @param {Number} $height 按钮容器的高度 @param {Color} $btn-color 按钮颜色 @param {Color} $bg-color 与按钮所在地方的背景色一致，防止拆穿 */
.btn-radio input { display: none; }

.btn-radio input:checked ~ label { box-shadow: inset 2px 2px 5px #c8d0e7, inset -2px -2px 5px #fff; }

.btn-radio input:checked ~ label::after { background: #6d5dfc; }

.btn-radio label { box-shadow: 3px 3px 6px #c8d0e7, -2px -2px 5px #fff; position: relative; display: flex; justify-content: center; align-items: center; cursor: pointer; width: 28px; height: 28px; border-radius: 50%; }

.btn-radio label:hover::after { background: rgba(109, 93, 252, 0.6); }

.btn-radio label::after { content: ""; position: absolute; width: 14px; height: 14px; background: #9baacf; border-radius: 50%; transition: 0.3s ease; }

.btn-switch { width: 60px; }

.btn-switch input { display: none; }

.btn-switch input:checked ~ label::before { opacity: 1; }

.btn-switch input:checked ~ label::after { left: 54%; background: #E4EBF5; }

.btn-switch label { display: flex; align-items: center; width: 100%; height: 28px; box-shadow: 3px 3px 6px #c8d0e7, -2px -2px 5px #fff; background: #fff; position: relative; cursor: pointer; border-radius: 14px; }

.btn-switch label::before { content: ''; width: 100%; height: 100%; border-radius: inherit; background: linear-gradient(330deg, #5b0eeb 0%, #6d5dfc 50%, #8abdff 100%); opacity: 0; transition: all .4s ease; }

.btn-switch label::after { content: ''; position: absolute; left: 4px; width: 24px; height: 24px; border-radius: 50%; background: #9baacf; transition: all .4s ease; }

.hamburger-menu { cursor: pointer; width: 28px; height: 28px; background: #000; display: flex; justify-content: center; align-items: center; }

.hamburger-menu.toggled .burger-line { background: transparent; }

.hamburger-menu.toggled .burger-line::before { animation: burg2top 0.4s linear forwards; }

.hamburger-menu.toggled .burger-line::after { animation: burg2bottom 0.4s linear forwards; }

.hamburger-menu.unToggled .burger-line { background: #fff; }

.hamburger-menu.unToggled .burger-line::before { animation: burg2topReset 0.4s linear forwards; }

.hamburger-menu.unToggled .burger-line::before { animation: burg2bottomReset 0.4s linear forwards; }

.hamburger-menu .burger-line { width: 24px; height: 2px; background: #fff; transition: background 0.4s, font-size 0s; }

.hamburger-menu .burger-line::before, .hamburger-menu .burger-line::after { transition: font-size 0s; transform-origin: center center; content: ""; display: block; position: absolute; width: 24px; height: 2px; background: #fff; }

.hamburger-menu .burger-line::before { margin-top: -6px; }

.hamburger-menu .burger-line::after { margin-top: 6px; }

@keyframes burg2top { 0% { }
  20% { margin-top: 0;
    transform: rotate(0deg); }
  60% { margin-top: 0;
    transform: rotate(55deg); }
  100% { margin-top: 0;
    transform: rotate(45deg); } }

@keyframes burg2bottom { 0% { }
  20% { margin-top: 0;
    transform: rotate(0deg); }
  60% { margin-top: 0;
    transform: rotate(-55deg); }
  100% { margin-top: 0;
    transform: rotate(-45deg); } }

@keyframes burg2topReset { 0% { margin-top: 0;
    transform: rotate(45deg); }
  100% { margin-top: 6px;
    transform: rotate(0deg); } }

@keyframes burg2bottomReset { 0% { margin-top: 0;
    transform: rotate(-45deg); }
  100% { margin-top: -6px;
    transform: rotate(0deg); } }

/** 下载按钮混合器 @param {Number} $c-width 按钮容器的宽度 @param {Number} $c-height 按钮容器的高度 @param {Number} $width 宽度(容器宽度的一半) @param {Number} $height 高度(容器高度的一半) @param {Color} $btn-color 按钮颜色 */
.btn-download { position: relative; width: 28px; height: 28px; }

.btn-download::before { content: ''; display: block; position: absolute; left: 7px; width: 14px; height: 14px; background: #6d5dfc; }

.btn-download::after { content: ''; position: absolute; top: 14px; width: 0; color: #6d5dfc; border: 14px solid transparent; border-top: 14px solid #6d5dfc; }

/*=== 带阴影的矩形 ===*/
.shadow-cube { width: 200px; height: 100px; position: relative; border-radius: 8px; box-shadow: 0 0 0 1px rgba(109, 93, 252, 0.6); }

.shadow-cube::after { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 8px; box-shadow: 0 0 12px rgba(109, 93, 252, 0.8); }

.gradient-cube { width: 300px; height: 140px; position: relative; border: 2px solid transparent; border-radius: 8px; background: #6d5dfc; background-clip: padding-box; box-shadow: 0 3px 9px #6d5dfc, inset 0 0 9px rgba(109, 93, 252, 0.8); }

.gradient-cube::after { position: absolute; top: -2px; bottom: -2px; left: -2px; right: -2px; background: linear-gradient(#74defa, #6de7d1); content: ''; z-index: -1; border-radius: 4px; }

/** 七彩渐变线混合器 @param {Number} $c-width 容器的宽度 @param {Number} $c-height 容器的高度 @param {Color} $btn-color 背景颜色 */
.dotted-line { width: 100%; height: 10px; background: #1CD8D2; background: -o-linear-gradient(left, #62efab 5%, #f2ea7d 15%, #f2ea7d 25%, #ff8797 35%, #ff8797 45%, #e1a4f4 55%, #e1a4f4 65%, #82fff4 75%, #82fff4 85%, #62efab 95%); background: -webkit-gradient(linear, left top, right top, color-stop(5%, #62efab), color-stop(15%, #f2ea7d), color-stop(25%, #f2ea7d), color-stop(35%, #ff8797), color-stop(45%, #ff8797), color-stop(55%, #e1a4f4), color-stop(65%, #e1a4f4), color-stop(75%, #82fff4), color-stop(85%, #82fff4), color-stop(95%, #62efab)); background: linear-gradient(to right, #62efab 5%, #f2ea7d 15%, #f2ea7d 25%, #ff8797 35%, #ff8797 45%, #e1a4f4 55%, #e1a4f4 65%, #82fff4 75%, #82fff4 85%, #62efab 95%); background-size: 100%; background-position: 0%; }

/** 椭圆混合器 @param {Number} $width 长直径 @param {Number} $height 短直径 @param {Color} $bg-color 背景色 @param {String} $border-radius 圆角大小 */
.oval { width: 200px; height: 100px; background-color: #6d5dfc; border-radius: 50%; }

.semicircle { width: 300px; height: 150px; background-color: #6d5dfc; border-radius: 50%/100% 100% 0 0; }

.semicircle2 { width: 150px; height: 150px; background-color: #6d5dfc; border-radius: 100% 0 0 0; }

.semicircle3 { width: 200px; height: 150px; background-color: #6d5dfc; border-radius: 50%/100% 100% 0 0; }

.semicircle4 { width: 100px; height: 150px; background-color: #6d5dfc; border-radius: 100% 0 0 0; }

.semicircle5 { width: 300px; height: 150px; background-color: #6d5dfc; border-radius: 50%/0 100%; }

.semicircle6 { width: 300px; height: 150px; background-color: #6d5dfc; border-radius: 50%/100% 0; }

/** 圆形，直径为100像素 @param {String} $width 宽度 @param {String} $height 高度 @param {Colors} $bg-color 背景色 */
.circle { width: 100px; height: 100px; background-color: #6d5dfc; border-radius: 50%; }

/** 自定义swiper pagination混合（默认状态） @param {String} $width 宽度 @param {String} $height 高度 @param {Colors} $color1 描边颜色 @param {Colors} $color2 背景颜色 @param {Number} $radius 圆角大小 */
/** 自定义swiper pagination混合（选中状态） @param {String} $width 宽度 @param {String} $height 高度 @param {Colors} $color1 描边颜色 @param {Number} $radius 圆角大小 */
.annulus { display: block; width: 26px; height: 26px; border-radius: 50%; border: 1px solid #fff; background: #000; }

.round { display: block; width: 26px; height: 26px; border-radius: 50%; background: #fff; border-width: thin; }

/** 等腰三角形/等边直角三角形混合器 @param {Number} $width 长 @param {Number} $height 宽 @param {List} $border-top 设置上边框的样式【不存在的边框使用inherit值代替】 @param {List} $border-right 设置右边框的样式【不存在的边框使用inherit值代替】 @param {List} $border-bottom 设置下边框的样式【不存在的边框使用inherit值代替】 @param {List} $border-left 设置左边框的样式【不存在的边框使用inherit值代替】 */
/* 向上的等边三角形，一般只修改大小和颜色，其他值不变 */
.triangle-up { width: 0; height: 0; border-top: inherit; border-right: 50px solid transparent; border-bottom: 100px solid #6d5dfc; border-left: 50px solid transparent; }

/* 向右的等边三角形 */
.triangle-right { width: 0; height: 0; border-top: 50px solid transparent; border-right: inherit; border-bottom: 50px solid transparent; border-left: 100px solid #6d5dfc; }

/* 向下的等边三角形 */
.triangle-down { width: 0; height: 0; border-top: 100px solid #6d5dfc; border-right: 50px solid transparent; border-bottom: inherit; border-left: 50px solid transparent; }

/* 向左的等边三角形 */
.triangle-left { width: 0; height: 0; border-top: 50px solid transparent; border-right: 100px solid #6d5dfc; border-bottom: 50px solid transparent; border-left: inherit; }

/* 位于左上角的等边直角三角形，一般只修改大小和颜色，其他值不变 */
.triangle-topleft { width: 0; height: 0; border-top: 100px solid #6d5dfc; border-right: 100px solid transparent; border-bottom: inherit; border-left: inherit; }

/* 位于右上角的等边直角三角形 */
.triangle-topright { width: 0; height: 0; border-top: 100px solid #6d5dfc; border-right: inherit; border-bottom: inherit; border-left: 100px solid transparent; }

/* 位于左下角的等边直角三角形 */
.triangle-bottomleft { width: 0; height: 0; border-top: inherit; border-right: 100px solid transparent; border-bottom: 100px solid #6d5dfc; border-left: inherit; }

/* 位于右下角的等边直角三角形 */
.triangle-bottomright { width: 0; height: 0; border-top: inherit; border-right: inherit; border-bottom: 100px solid #6d5dfc; border-left: 100px solid transparent; }

/** 
* 绘制小箭头
* @param {Number} $width  宽
* @param {Number} $height  高
* @param {Number} $border 箭头大小
* @param {Color} $btn-color 箭头颜色
* @param {Color} $bg-color 背景色
*
*/
.arrow-top { width: 0; height: 0; border: 28px solid; border-color: transparent #6d5dfc transparent transparent; position: relative; transform: rotate(90deg); }

.arrow-top::after { content: ''; position: absolute; top: -28px; right: -36px; border: 28px solid; border-color: transparent #fff transparent transparent; }

.arrow-right { width: 0; height: 0; border: 28px solid; border-color: transparent #6d5dfc transparent transparent; position: relative; transform: rotate(0deg); }

.arrow-right::after { content: ''; position: absolute; top: -28px; right: -36px; border: 28px solid; border-color: transparent #fff transparent transparent; }

.arrow-bottom { width: 0; height: 0; border: 28px solid; border-color: transparent #6d5dfc transparent transparent; position: relative; transform: rotate(270deg); }

.arrow-bottom::after { content: ''; position: absolute; top: -28px; right: -36px; border: 28px solid; border-color: transparent #fff transparent transparent; }

.arrow-left { width: 0; height: 0; border: 28px solid; border-color: transparent #6d5dfc transparent transparent; position: relative; transform: rotate(180deg); }

.arrow-left::after { content: ''; position: absolute; top: -28px; right: -36px; border: 28px solid; border-color: transparent #fff transparent transparent; }

/** 缺角描边矩形框混合器 @param {Number} $width 长 @param {Number} $height 宽 @param {Color} $border-color 描边颜色 @param {Number} $border-tl-radius 左上圆角大小 @param {Number} $border-tr-radius 右上圆角大小 @param {Number} $border-br-radius 右下圆角大小 @param {Number} $border-bl-radius 左下圆角大小 */
.rounded-rectangle { width: 240px; height: 40px; border: 1px solid #6d5dfc; border-radius: 20px 20px 20px 20px; }

.rounded-rectangle-tl { width: 240px; height: 40px; border: 1px solid #6d5dfc; border-radius: 40px 0 0 0; }

.rounded-rectangle-tl-br { width: 240px; height: 40px; border: 1px solid #6d5dfc; border-radius: 40px 0 40px 0; }

.rounded-rectangle-tl-tr { width: 240px; height: 40px; border: 1px solid #6d5dfc; border-radius: 40px 40px 0 0; }

.rounded-rectangle-tr { width: 240px; height: 40px; border: 1px solid #6d5dfc; border-radius: 0 40px 0 0; }

.rounded-rectangle-tr-bl { width: 240px; height: 40px; border: 1px solid #6d5dfc; border-radius: 0 40px 0 40px; }

.rounded-rectangle-br { width: 240px; height: 40px; border: 1px solid #6d5dfc; border-radius: 0 0 40px 0; }

.rounded-rectangle-bl { width: 240px; height: 40px; border: 1px solid #6d5dfc; border-radius: 0 0 0 40px; }

.rounded-rectangle-bl-br { width: 240px; height: 40px; border: 1px solid #6d5dfc; border-radius: 0 0 40px 40px; }

/** 缺角矩形混合器 @param {Number} $width 长 @param {Number} $height 宽 @param {Color} $bg-color 背景色 @param {Number} $bg-size 背景大小（防止在某些浏览器中出现白边） @param {String} $bg-repeat 是否重复背景 @param {List} $bg 背景的其他属性 */
.unfilled-rectangle-straight { width: 240px; height: 180px; background-color: #6d5dfc; background: linear-gradient(45deg, transparent 12px, #6d5dfc 13px) bottom left, linear-gradient(135deg, transparent 12px, #6d5dfc 13px) top left, linear-gradient(-135deg, transparent 12px, #6d5dfc 13px) top right, linear-gradient(-45deg, transparent 12px, #6d5dfc 13px) bottom right; background-size: 51% 51%; background-repeat: no-repeat; }

.unfilled-rectangle-round { width: 240px; height: 180px; background-color: #6d5dfc; background: radial-gradient(circle at bottom left, transparent 15px, #6d5dfc 16px) bottom left, radial-gradient(circle at top left, transparent 15px, #6d5dfc 16px) top left, radial-gradient(circle at top right, transparent 15px, #6d5dfc 16px) top right, radial-gradient(circle at bottom right, transparent 15px, #6d5dfc 16px) bottom right; background-size: 51% 51%; background-repeat: no-repeat; }

/**
* 分享箭头混合器
*
* @param {Number} $width 长
* @param {Number} $height 宽
* @param {List} $border-top 设置上边框的样式【不存在的边框使用inherit值代替】
* @param {List} $border-right 设置右边框的样式【不存在的边框使用inherit值代替】
* @param {List} $border-bottom 设置下边框的样式【不存在的边框使用inherit值代替】
* @param {List} $border-left 设置左边框的样式【不存在的边框使用inherit值代替】
* @param {String} $transform 旋转角度
* @param {Color} $color 颜色
*
*/
.curvedarrow { position: relative; top: 30px; left: 30px; transform: rotate(10deg); width: 0; height: 0; border-top: 60px solid transparent; border-right: 60px solid #6d5dfc; border-bottom: inherit; border-left: inherit; }

.curvedarrow::after { content: ''; position: absolute; top: -56px; left: -26px; transform: rotate(45deg); width: 60px; height: 60px; border: 0 solid transparent; border-top: 16px solid #6d5dfc; border-radius: 58px 0 0 0; }

/**
* 平行四边形/菱形混合器
*
* @param {Number} $width 长
* @param {Number} $height 宽
* @param {Color} $bg-color 背景色
* @param {String} $transform 旋转角度
*
*/
/* 平行四边形混合器调用 */
.parallelogram { width: 200px; height: 100px; background: #6d5dfc; transform: skew(-30deg); }

.rhombus { width: 100px; height: 100px; background: #6d5dfc; transform: rotate(45deg); }

/** 等腰梯形混合器 @param {Number} $width 高 @param {Number} $height 宽 @param {List} $border-top 设置上边框的样式【不存在的边框使用inherit值代替】 @param {List} $border-right 设置右边框的样式【不存在的边框使用inherit值代替】 @param {List} $border-bottom 设置下边框的样式【不存在的边框使用inherit值代替】 @param {List} $border-left 设置左边框的样式【不存在的边框使用inherit值代替】 */
/* 等腰梯形混合器调用 */
.trapezoid { width: 100px; height: 0; border-top: inherit; border-right: 50px solid transparent; border-bottom: 100px solid #6d5dfc; border-left: 50px solid transparent; }

/**
* 五边形混合器
*
* @param {Number} $width 长
* @param {Number} $height 宽
* @param {List} $border-width1 设置一个元素的四个边框的宽度
* @param {String} $border-style 设置一个元素的四个边框的样式[默认值：none]
* @param {List} $border-color1 设置一个元素的四个边框颜色
* @param {List} $box-sizing 定义如何计算一个元素的总宽度和总高度，主要设置是否需要加上内边距(padding)和边框等。[默认值：content-box]
* @param {List} $border-width2 设置一个元素的四个边框的宽度
* @param {List} $border-color2 设置一个元素的四个边框颜色
* @param {String} $transform 旋转角度
*
*/
.pentagon { position: relative; width: 54px; height: auto; border-width: 50px 18px 0; border-style: solid; border-color: #ccc transparent; box-sizing: content-box; }

.pentagon::after { content: ''; position: absolute; top: -85px; left: -18px; width: auto; height: auto; border-width: 0 45px 35px; border-style: solid; border-color: transparent transparent #ccc; }

/*=== 五角星 ===*/
.star-five { position: relative; top: .6rem; display: block; color: #FFBA44; width: 0; height: 0; border-right: 1rem solid transparent; border-bottom: .7rem solid #FFBA44; border-left: 1rem solid transparent; -moz-transform: rotate(35deg); -webkit-transform: rotate(35deg); -ms-transform: rotate(35deg); -o-transform: rotate(35deg); }

.star-five:before { content: ''; position: absolute; top: -.45rem; left: -.65rem; display: block; height: 0; width: 0; border-right: .3rem solid transparent; border-bottom: .8rem solid #FFBA44; border-left: .3rem solid transparent; -webkit-transform: rotate(-35deg); -moz-transform: rotate(-35deg); -ms-transform: rotate(-35deg); -o-transform: rotate(-35deg); }

.star-five:after { content: ''; position: absolute; top: .03rem; left: -1.05rem; display: block; width: 0; height: 0; color: #FFBA44; border-right: 1rem solid transparent; border-bottom: .7rem solid #FFBA44; border-left: 1rem solid transparent; -webkit-transform: rotate(-70deg); -moz-transform: rotate(-70deg); -ms-transform: rotate(-70deg); -o-transform: rotate(-70deg); }

/**
* 六边形混合器
*
* @param {Number} $width 长
* @param {Number} $height 宽
* @param {Color} $bg-color 背景色
*
*/
/* 六边形混合器调用 */
/*=== 六角星,绘制两个三角形进行叠加获得一个六角星 ===*/
.star-six { position: relative; width: 0; height: 0; border: .5rem solid transparent; /*三角形的高度*/ border-bottom: .8rem solid #FFBA44; }

.star-six:after { content: ""; position: absolute; top: .26rem; left: -.5rem; width: 0; height: 0; border: .5rem solid transparent; border-top: .8rem solid #FFBA44; }

/** 爱心混合器 @param {Color} $bg-color 背景色 @param {List} $border-radius 圆角大小 @param {List} $transform-origin1 更改转换元素的位置 @param {List} $transform-origin2 更改转换元素的位置 */
/* 爱心混合器调用 */
/** 无穷大混合器 @param {Color} $box-sizing 定义如何计算一个元素的总宽度和总高度，主要设置是否需要加上内边距(padding)和边框等。[默认值：content-box] @param {List} $border 设置在一个声明中所有的边框属性 @param {List} $border-radius1 为元素添加圆角边框 @param {List} $border-radius2 为元素添加圆角边框 */
/* 无穷大混合器调用 */
/**
* 钻石混合器
*
*
*
*/
/**
* 锁混合器
*
*
*
*/
.lock { position: relative; width: 90px; height: 65px; border: 18px solid skyblue; border-right-width: 37px; border-left-width: 37px; border-radius: 10px; box-sizing: border-box; }

.lock::before { position: absolute; top: -60px; left: 50%; width: 70px; height: 60px; content: ''; border: 12px solid skyblue; border-top-left-radius: 35px; border-top-right-radius: 35px; box-sizing: border-box; transform: translateX(-50%); }

.lock::after { position: absolute; top: -5px; left: 50%; width: 25px; height: 40px; content: ''; border: 5px solid skyblue; border-radius: 12px; box-sizing: border-box; transform: translateX(-50%); }

/**
* 吃豆人混合器
*
*
*
*/
.pacman { width: 0px; height: 0px; border: 60px solid skyblue; border-right: 60px solid transparent; border-radius: 60px; }

/**
* 太极混合器
*
*
*
*/
.supreme-pole { position: relative; width: 96px; height: 48px; background-color: #fff; border-width: 2px 2px 50px 2px; border-style: solid; border-color: #000; border-radius: 50%; box-sizing: content-box; }

.supreme-pole::before { position: absolute; top: 50%; left: 0; width: 12px; height: 12px; content: ''; background-color: #fff; border: 18px solid #000; border-radius: 50%; box-sizing: content-box; }

.supreme-pole::after { position: absolute; top: 50%; left: 50%; width: 12px; height: 12px; content: ''; background-color: #000; border: 18px solid #fff; border-radius: 50%; box-sizing: content-box; }

/**
* 丝带勋章混合器
*
*
*
*/
.badge-ribbon { position: relative; height: 100px; width: 100px; background-color: skyblue; border-radius: 50%; }

.badge-ribbon::before, .badge-ribbon::after { position: absolute; top: 70px; left: -10px; content: ''; border-right: 40px solid transparent; border-bottom: 70px solid skyblue; border-left: 40px solid transparent; transform: rotate(-140deg); }

.badge-ribbon::after { right: -10px; left: auto; transform: rotate(140deg); }

/**
* 放大镜混合器
*
*
*
*/
.magnifying-glass { position: relative; width: 0.4em; height: 0.4em; font-size: 10em; border: 0.1em solid skyblue; border-radius: 0.35em; box-sizing: content-box; }

.magnifying-glass::before { position: absolute; right: -0.25em; bottom: -0.1em; width: 0.35em; height: 0.08em; content: ''; background-color: skyblue; transform: rotate(45deg); }

/**
* 月亮混合器
*
*
*
*/
.moon { width: 80px; height: 80px; border-radius: 50%; box-shadow: 15px 15px 0 0 skyblue; }

/**
* 圆锥混合器
*
*
*
*/
.cone { width: 0; height: 0; border-top: 100px solid skyblue; border-right: 70px solid transparent; border-left: 70px solid transparent; border-radius: 50%; }

/**
* 十字架混合器
*
*
*
*/
.cross { position: relative; width: 20px; height: 100px; background-color: skyblue; }

.cross::before { position: absolute; top: 40px; left: -40px; width: 100px; height: 20px; content: ""; background-color: skyblue; }

/**
* 谷堆混合器
*
*
*
*/
.base { position: relative; width: 100px; height: 55px; background-color: skyblue; }

.base::before { position: absolute; top: -35px; left: 0; width: 0; height: 0; content: ''; border-right: 50px solid transparent; border-bottom: 35px solid skyblue; border-left: 50px solid transparent; }

/**
* 指示器混合器
*
*
*
*/
.pointer { position: relative; width: 120px; height: 40px; background-color: skyblue; }

.pointer::before { position: absolute; bottom: 0; left: 0; width: 0; height: 0; content: ''; border-top: 20px solid transparent; border-bottom: 20px solid transparent; border-left: 20px solid #fff; }

.pointer::after { position: absolute; right: -20px; bottom: 0; width: 0; height: 0; content: ''; border-top: 20px solid transparent; border-bottom: 20px solid transparent; border-left: 20px solid skyblue; }

/*=== 马赛克背景混合器 ===*/
.mosaic { width: 400px; height: 400px; background-image: conic-gradient(#eee 0 25%, transparent 0 50%, #eee 0 75%, transparent 0); background-size: 16px 16px; }

/** 自定义滚动条混合器  @param {Number} $width 滚动条容器宽度 @param {Number} $height 滚动条容器最大高度（内容超过此高度时显示滚动条） @param {Color} $color1 滚动条颜色（目前该属性还处于实验阶段） @param {Number} $s-width 滚动条宽度 @param {Number} $s-height 滚动条宽度 @param {Color} $color2 滚动条track的颜色 @param {Color} $color3 滚动条thumb的颜色 @param {Color} $color4 滚动条thumb的颜色 */
.custom-scroll-bar { width: 600px; max-height: 400px; overflow-x: hidden; overflow-y: auto; direction: ltr; scrollbar-color: #6d5dfc; scrollbar-width: thin; cursor: pointer; }

.custom-scroll-bar::-webkit-scrollbar { width: 4px; height: 160px; }

.custom-scroll-bar::-webkit-scrollbar-track { border-radius: 2px; -webkit-box-shadow: inset 0 0 5px 0 black; box-shadow: inset 0 0 5px 0 black; }

.custom-scroll-bar::-webkit-scrollbar-thumb { border-radius: 2px; background-image: -webkit-gradient(linear, left bottom, left top, from(#74defa), color-stop(99%, #6de7d1)); background-image: linear-gradient(0deg, #74defa 0%, #6de7d1 99%); -webkit-box-shadow: inset 2px 2px 5px 0 rgba(109, 231, 209, 0.5); box-shadow: inset 2px 2px 5px 0 rgba(109, 231, 209, 0.5); }

/* scrollbar-gutter */
.scrollbargutter-auto { scrollbar-gutter: auto; }

.scrollbargutter-stable { scrollbar-gutter: stable; }

.scrollbargutter-stable-both-edges { scrollbar-gutter: "stable both-edges"; }

/** 文字高光混合器  @param {Color} $color1 文字颜色 @param {Color} $color2 阴影颜色 @param {Color} $color3 文字渐变色1 @param {Color} $color4 文字渐变色2 */
.text-highlights { position: relative; margin: 0; color: #6d5dfc; transform: scale(1); text-shadow: -1px 0 1px #160d67, 0 1px 1px #160d67, 5px 5px 10px rgba(0, 0, 0, 0.4), -5px -5px 10px rgba(0, 0, 0, 0.4); }

.text-highlights::before { content: attr(data-text); position: absolute; left: 0; top: 0; z-index: 1; background: linear-gradient(to bottom, #160d67 20%, rgba(22, 13, 103, 0.4) 40%, rgba(33, 9, 249, 0.6) 60%, #2109f9 80%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; text-shadow: none; }

/** 半透明边框混合器  @param {List} $border 边框颜色（透明度通过改变颜色的透明度实现） */
.translucent-border { background-clip: padding-box; border: 2px solid rgba(33, 9, 249, 0.2); }

/** 多重边框混合器  @param {List} $box-shadow 阴影 */
.multiple-border { box-shadow: 0 0 0 10px #bfbfff, 0 0 0 20px #8080ff, 0 0 0 30px #4040ff, 0 0 0 40px #0000FF, 0 0 0 50px #0000bf, 0 0 0 60px #000080, 0 0 0 70px #000040, 0 0 0 80px #000000; }

/** 带虚线的边框混合器  @param {Color} $bg-color 背景色 @param {Color} $border-color 边框颜色 @param {Color} $outline-color 轮廓颜色 @param {Number} $border-width 边框大小 */
.outline-border { background: #fff; border: 4px solid #6d5dfc; outline: #8080ff dashed 1px; outline-offset: -8px; }

/** 边框内圆角混合器  @param {Color} $bg-color 背景色 @param {Number} $border-radius 圆角大小 @param {Color} $outline-color 轮廓颜色 */
.border-fillet { background: #6d5dfc; border-radius: 8px; outline: 2px solid #8080ff; box-shadow: 0 0 0 4px #8080ff; }

/** 不规则卡片混合器  @param {Number} $width 卡片宽度 @param {Number} $height 卡片高度 @param {List} $bg-img 卡片背景等 */
.anomaly-card { position: relative; width: 200px; height: 120px; background: radial-gradient(circle at 100px -8px, transparent 20px, #6d5dfc 20px); }

.anomaly-card2 { position: relative; width: 200px; height: 120px; background: none; background-color: #6d5dfc; border-radius: 5px; filter: drop-shadow(2px 2px 2px rgba(180, 160, 120, 0.9)); }

.anomaly-card2::before { content: ''; position: absolute; width: 0; height: 0; top: 40px; right: -22px; border: 22px solid transparent; border-left-color: #6d5dfc; border-right-width: 0; }

.anomaly-card3 { position: relative; width: 200px; height: 120px; background: radial-gradient(circle at bottom right, transparent 29px, #6d5dfc 30px) bottom right; filter: drop-shadow(2px 2px 2px rgba(180, 160, 120, 0.9)); }

.pie1 { width: 100px; height: 100px; border-radius: 50%; background-color: #6d5dfc; background-image: linear-gradient(to right, transparent 50%, #b4a078 0); }

.pie1::before { content: ''; display: block; height: 100%; margin-left: 50%; background-color: inherit; border-radius: 0 100% 100% 0 / 0 50% 50% 0; transform-origin: 0 50%; }

.pie1::before { transform: rotate(0.62turn); }

.pie2 { width: 100px; height: 100px; border-radius: 50%; background-color: #6d5dfc; background-image: linear-gradient(to right, transparent 50%, #b4a078 0); }

.pie2::before { content: ''; display: block; height: 100%; margin-left: 50%; background-color: inherit; border-radius: 0 100% 100% 0 / 0 50% 50% 0; transform-origin: 0 50%; }

.pie2::before { animation: pie-chart-spin1 3s linear 1.6 forwards, pie-chart-bg1 3s step-end 1 forwards; }

@keyframes pie-chart-spin1 { to { transform: rotate(0.5turn); } }

@keyframes pie-chart-bg1 { to { background: #b4a078; } }

.pie3 { width: 100px; height: 100px; border-radius: 50%; background-color: #6d5dfc; background-image: linear-gradient(to right, transparent 50%, #b4a078 0); }

.pie3::before { content: ''; display: block; height: 100%; margin-left: 50%; background-color: inherit; border-radius: 0 100% 100% 0 / 0 50% 50% 0; transform-origin: 0 50%; }

.pie3::before { animation: pie-chart-spin1 3s linear 1.6 forwards, pie-chart-bg1 3s step-end 1 forwards; animation-delay: -1.5s; }

@keyframes pie-chart-spin1 { to { transform: rotate(0.5turn); } }

@keyframes pie-chart-bg1 { to { background: #b4a078; } }
