@import "./common.scss";
@import "./theme-dark.scss";
@import "./theme-light.scss";
@import "./theme-grey.scss";
@import "./theme-red.scss";
@import "./theme-orange.scss";
@import "./theme-yellow.scss";
@import "./theme-green.scss";
@import "./theme-indigo.scss";
@import "./theme-blue.scss";
@import "./theme-purple.scss";
@import "./theme-colorful.scss";


// 主题变量
$color-primary-black: var(--black); 
$color-primary-white: var(--white);
$color-primary-slate-50: var(--slate-50);
$color-primary-slate-100: var(--slate-100);
$color-primary-slate-200: var(--slate-200);
$color-primary-slate-300: var(--slate-300);
$color-primary-slate-400: var(--slate-400);
$color-primary-slate-500: var(--slate-500);
$color-primary-slate-600: var(--slate-600);
$color-primary-slate-700: var(--slate-700);
$color-primary-slate-800: var(--slate-800);
$color-primary-slate-900: var(--slate-900);
$color-primary-gray-50: var(--gray-50);
$color-primary-gray-100: var(--gray-100); 
$color-primary-gray-200: var(--gray-200);
$color-primary-gray-300: var(--gray-300); 
$color-primary-gray-400: var(--gray-400);
$color-primary-gray-500: var(--gray-500); 
$color-primary-gray-600: var(--gray-600); 
$color-primary-gray-700: var(--gray-700); 
$color-primary-gray-800: var(--gray-800);
$color-primary-gray-900: var(--gray-900); 
$color-primary-zinc-50: var(--zinc-50); 
$color-primary-zinc-100: var(--zinc-100); 
$color-primary-zinc-200: var(--zinc-200); 
$color-primary-zinc-300: var(--zinc-300); 
$color-primary-zinc-400: var(--zinc-400); 
$color-primary-zinc-500: var(--zinc-500); 
$color-primary-zinc-600: var(--zinc-600); 
$color-primary-zinc-700: var(--zinc-700);
$color-primary-zinc-800: var(--zinc-800); 
$color-primary-zinc-900: var(--zinc-900); 
$color-primary-neutral-50: var(--neutral-50); 
$color-primary-neutral-100: var(--neutral-100);
$color-primary-neutral-200: var(--neutral-200); 
$color-primary-neutral-300: var(--neutral-300); 
$color-primary-neutral-400: var(--neutral-400); 
$color-primary-neutral-500: var(--neutral-500); 
$color-primary-neutral-600: var(--neutral-600); 
$color-primary-neutral-700: var(--neutral-700); 
$color-primary-neutral-800: var(--neutral-800); 
$color-primary-neutral-900: var(--neutral-900); 
$color-primary-stone-50: var(--stone-50); 
$color-primary-stone-100: var(--stone-100); 
$color-primary-stone-200: var(--stone-200); 
$color-primary-stone-300: var(--stone-300);
$color-primary-stone-400: var(--stone-400);
$color-primary-stone-500: var(--stone-500);
$color-primary-stone-600: var(--stone-600);
$color-primary-stone-700: var(--stone-700); 
$color-primary-stone-800: var(--stone-800); 
$color-primary-stone-900: var(--stone-900); 
$color-primary-red-50: var(--red-50); 
$color-primary-red-100: var(--red-100); 
$color-primary-red-200: var(--red-200); 
$color-primary-red-300: var(--red-300); 
$color-primary-red-400: var(--red-400);
$color-primary-red-500: var(--red-500);
$color-primary-red-600: var(--red-600); 
$color-primary-red-700: var(--red-700); 
$color-primary-red-800: var(--red-800); 
$color-primary-red-900: var(--red-900); 
$color-primary-orange-50: var(--orange-50); 
$color-primary-orange-100: var(--orange-100); 
$color-primary-orange-200: var(--orange-200); 
$color-primary-orange-300: var(--orange-300); 
$color-primary-orange-400: var(--orange-400); 
$color-primary-orange-500: var(--orange-500); 
$color-primary-orange-600: var(--orange-600); 
$color-primary-orange-700: var(--orange-700); 
$color-primary-orange-800: var(--orange-800); 
$color-primary-orange-900: var(--orange-900); 
$color-primary-amber-50: var(--amber-50); 
$color-primary-amber-100: var(--amber-100); 
$color-primary-amber-200: var(--amber-200); 
$color-primary-amber-300: var(--amber-300); 
$color-primary-amber-400: var(--amber-400); 
$color-primary-amber-500: var(--amber-500); 
$color-primary-amber-600: var(--amber-600); 
$color-primary-amber-700: var(--amber-700); 
$color-primary-amber-800: var(--amber-800); 
$color-primary-amber-900: var(--amber-900); 
$color-primary-yellow-50: var(--yellow-50);
$color-primary-yellow-100: var(--yellow-100);
$color-primary-yellow-200: var(--yellow-200);
$color-primary-yellow-300: var(--yellow-300); 
$color-primary-yellow-400: var(--yellow-400); 
$color-primary-yellow-500: var(--yellow-500); 
$color-primary-yellow-600: var(--yellow-600); 
$color-primary-yellow-700: var(--yellow-700); 
$color-primary-yellow-800: var(--yellow-800); 
$color-primary-yellow-900: var(--yellow-900); 
$color-primary-lime-50: var(--lime-50);
$color-primary-lime-100: var(--lime-100);
$color-primary-lime-200: var(--lime-200);
$color-primary-lime-300: var(--lime-300);
$color-primary-lime-400: var(--lime-400);
$color-primary-lime-500: var(--lime-500);
$color-primary-lime-600: var(--lime-600);
$color-primary-lime-700: var(--lime-700);
$color-primary-lime-800: var(--lime-800);
$color-primary-lime-900: var(--lime-900);
$color-primary-green-50: var(--green-50);
$color-primary-green-100: var(--green-100);
$color-primary-green-200: var(--green-200);
$color-primary-green-300: var(--green-300);
$color-primary-green-400: var(--green-400);
$color-primary-green-500: var(--green-500);
$color-primary-green-600: var(--green-600);
$color-primary-green-700: var(--green-700);
$color-primary-green-800: var(--green-800);
$color-primary-green-900: var(--green-900);
$color-primary-emerald-50: var(--emerald-50);
$color-primary-emerald-100: var(--emerald-100);
$color-primary-emerald-200: var(--emerald-200);
$color-primary-emerald-300: var(--emerald-300);
$color-primary-emerald-400: var(--emerald-400);
$color-primary-emerald-500: var(--emerald-500);
$color-primary-emerald-600: var(--emerald-600);
$color-primary-emerald-700: var(--emerald-700);
$color-primary-emerald-800: var(--emerald-800);
$color-primary-emerald-900: var(--emerald-900);
$color-primary-teal-50: var(--teal-50);
$color-primary-teal-100: var(--teal-100);
$color-primary-teal-200: var(--teal-200);
$color-primary-teal-300: var(--teal-300);
$color-primary-teal-400: var(--teal-400);
$color-primary-teal-500: var(--teal-500);
$color-primary-teal-600: var(--teal-600);
$color-primary-teal-700: var(--teal-700);
$color-primary-teal-800: var(--teal-800);
$color-primary-teal-900: var(--teal-900);
$color-primary-cyan-50: var(--cyan-50);
$color-primary-cyan-100: var(--cyan-100);
$color-primary-cyan-200: var(--cyan-200);
$color-primary-cyan-300: var(--cyan-300);
$color-primary-cyan-400: var(--cyan-400);
$color-primary-cyan-500: var(--cyan-500);
$color-primary-cyan-600: var(--cyan-600);
$color-primary-cyan-700: var(--cyan-700);
$color-primary-cyan-800: var(--cyan-800);
$color-primary-cyan-900: var(--cyan-900);
$color-primary-sky-50: var(--sky-50);
$color-primary-sky-100: var(--sky-100);
$color-primary-sky-200: var(--sky-200);
$color-primary-sky-300: var(--sky-300);
$color-primary-sky-400: var(--sky-400);
$color-primary-sky-500: var(--sky-500);
$color-primary-sky-600: var(--sky-600);
$color-primary-sky-700: var(--sky-700);
$color-primary-sky-800: var(--sky-800);
$color-primary-sky-900: var(--sky-900);
$color-primary-blue-50: var(--blue-50);
$color-primary-blue-100: var(--blue-100);
$color-primary-blue-200: var(--blue-200);
$color-primary-blue-300: var(--blue-300);
$color-primary-blue-400: var(--blue-400);
$color-primary-blue-500: var(--blue-500);
$color-primary-blue-600: var(--blue-600);
$color-primary-blue-700: var(--blue-700);
$color-primary-blue-800: var(--blue-800);
$color-primary-blue-900: var(--blue-900);
$color-primary-indigo-50: var(--indigo-50);
$color-primary-indigo-100: var(--indigo-100);
$color-primary-indigo-200: var(--indigo-200);
$color-primary-indigo-300: var(--indigo-300);
$color-primary-indigo-400: var(--indigo-400);
$color-primary-indigo-500: var(--indigo-500);
$color-primary-indigo-600: var(--indigo-600);
$color-primary-indigo-700: var(--indigo-700);
$color-primary-indigo-800: var(--indigo-800);
$color-primary-indigo-900: var(--indigo-900);
$color-primary-violet-50: var(--violet-50);
$color-primary-violet-100: var(--violet-100);
$color-primary-violet-200: var(--violet-200);
$color-primary-violet-300: var(--violet-300);
$color-primary-violet-400: var(--violet-400);
$color-primary-violet-500: var(--violet-500);
$color-primary-violet-600: var(--violet-600);
$color-primary-violet-700: var(--violet-700);
$color-primary-violet-800: var(--violet-800);
$color-primary-violet-900: var(--violet-900);
$color-primary-purple-50: var(--purple-50);
$color-primary-purple-100: var(--purple-100);
$color-primary-purple-200: var(--purple-200);
$color-primary-purple-300: var(--purple-300);
$color-primary-purple-400: var(--purple-400);
$color-primary-purple-500: var(--purple-500);
$color-primary-purple-600: var(--purple-600);
$color-primary-purple-700: var(--purple-700);
$color-primary-purple-800: var(--purple-800);
$color-primary-purple-900: var(--purple-900);
$color-primary-fuchsia-50: var(--fuchsia-50);
$color-primary-fuchsia-100: var(--fuchsia-100);
$color-primary-fuchsia-200: var(--fuchsia-200);
$color-primary-fuchsia-300: var(--fuchsia-300);
$color-primary-fuchsia-400: var(--fuchsia-400);
$color-primary-fuchsia-500: var(--fuchsia-500);
$color-primary-fuchsia-600: var(--fuchsia-600);
$color-primary-fuchsia-700: var(--fuchsia-700);
$color-primary-fuchsia-800: var(--fuchsia-800);
$color-primary-fuchsia-900: var(--fuchsia-900);
$color-primary-pink-50: var(--pink-50);
$color-primary-pink-100: var(--pink-100);
$color-primary-pink-200: var(--pink-200);
$color-primary-pink-300: var(--pink-300);
$color-primary-pink-400: var(--pink-400);
$color-primary-pink-500: var(--pink-500);
$color-primary-pink-600: var(--pink-600);
$color-primary-pink-700: var(--pink-700);
$color-primary-pink-800: var(--pink-800);
$color-primary-pink-900: var(--pink-900);
$color-primary-rose-50: var(--rose-50);
$color-primary-rose-100: var(--rose-100);
$color-primary-rose-200: var(--rose-200);
$color-primary-rose-300: var(--rose-300);
$color-primary-rose-400: var(--rose-400);
$color-primary-rose-500: var(--rose-500);
$color-primary-rose-600: var(--rose-600); 
$color-primary-rose-700: var(--rose-700);
$color-primary-rose-800: var(--rose-800);
$color-primary-rose-900: var(--rose-900);



// pc
@media screen and (min-width: 1025px) {
  .theme-container{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .theme-inner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
    background: rgba(229, 227, 227, .8);
    box-shadow: rgba(0, 0, 0, .4) 0px 0px 50px 8px;

    &.visible{
      opacity: 1;
      height: 60px;
    }

    .theme-lists{
      margin: 0 auto;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: row;

      .theme-item{
        position: relative;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: #fff;
        margin: 0 10px;
        aspect-ratio: 1 / 1;
        outline-offset: 0;

        &:nth-child(1){
          background: #fff;
        }

        &:nth-child(2){
          background: #000;
        }

        &:nth-child(3){
          background: #565656;
        }

        &:nth-child(4){
          background: #ff0000;
        }

        &:nth-child(5){
          background: #ff6600;
        }

        &:nth-child(6){
          background: #ffbb00;
        }

        &:nth-child(7){
          background: #51ff00;
        }

        &:nth-child(8){
          background: #00f7ff;
        }

        &:nth-child(9){
          background: #001aff;
        }

        &:nth-child(10){
          background: #ff00ea;
        }

        &:nth-child(11){
          background-image: repeating-conic-gradient(red, orange 0.33turn, yellow 0.66turn, green 1turn, rgb(0, 115, 130) 1.33turn, blue 1.66turn, purple 2turn);
        }

        &:hover,&.active{
          cursor: pointer;
          transition: all .5s ease;
          outline: 1px solid rgb(6, 160, 6);
          outline-offset: 2px;
        }
      }
    }
  }

  .theme-switch{
    width: 64px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    background: rgb(234, 233, 233);

    &::before, &::after {
      content: '';
      position: absolute;
      top: 0;
      z-index: 2;
      width: 50px;
      height: 100%;
      background: rgb(234, 233, 233);
    }

    &::before {
      right: 64px;
      clip-path: path('M 0,0 C 25,0 25,50 50,50 L 0, 50 Z');
      transform: rotate(180deg);
    }
    
    &::after {
      left: 64px;
      clip-path: path('M 0,50 C 25,50 25,0 50,0 L 50, 50 Z');
      transform: rotate(180deg);
    }

    .icon{
      display: block;
      width: 18px;
      height: 18px;
    }
  }
}

// mobile
@media screen and (max-width: 1024px) {
  .theme-container{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .theme-inner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
    background: rgba(229, 227, 227, .8);
    box-shadow: rgba(0, 0, 0, .4) 0px 0px 50px 8px;

    &.visible{
      opacity: 1;
      height: 60px;
    }
  
    .theme-lists{
      margin: 0 auto;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: row;
  
      .theme-item{
        position: relative;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #fff;
        margin: 0 6px;
        aspect-ratio: 1 / 1;
        outline-offset: 0;
  
        &:nth-child(1){
          background: #fff;
        }
  
        &:nth-child(2){
          background: #000;
        }
  
        &:nth-child(3){
          background: #565656;
        }
  
        &:nth-child(4){
          background: #ff0000;
        }
  
        &:nth-child(5){
          background: #ff6600;
        }
  
        &:nth-child(6){
          background: #ffbb00;
        }
  
        &:nth-child(7){
          background: #51ff00;
        }
  
        &:nth-child(8){
          background: #00f7ff;
        }
  
        &:nth-child(9){
          background: #001aff;
        }
  
        &:nth-child(10){
          background: #ff00ea;
        }
  
        &:nth-child(11){
          background-image: repeating-conic-gradient(red, orange 0.33turn, yellow 0.66turn, green 1turn, rgb(0, 115, 130) 1.33turn, blue 1.66turn, purple 2turn);
        }
  
        &:hover,&.active{
          cursor: pointer;
          transition: all .5s ease;
          outline: 1px solid rgb(6, 160, 6);
          outline-offset: 2px;
        }
      }
    }
  }
  
  .theme-switch{
    width: 34px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    background: rgb(234, 233, 233);
  
    &::before, &::after {
      content: '';
      position: absolute;
      top: 0;
      z-index: 2;
      width: 50px;
      height: 100%;
      background: rgb(234, 233, 233);
    }
  
    &::before {
      right: 34px;
      clip-path: path('M 0,0 C 25,0 25,50 50,50 L 0, 50 Z');
      transform: rotate(180deg);
    }
    
    &::after {
      left: 34px;
      clip-path: path('M 0,50 C 25,50 25,0 50,0 L 50, 50 Z');
      transform: rotate(180deg);
    }
  
    .icon{
      display: block;
      width: 18px;
      height: 18px;
    }
  }
}