// 紫色主题
[data-theme=purple-theme]{
    --purple-50: rgb(250, 245, 255);
    --purple-100: rgb(243, 232, 255);
    --purple-200: rgb(233, 213, 255);
    --purple-300: rgb(216, 180, 254);
    --purple-400: rgb(192, 132, 252);
    --purple-500: rgb(168, 85, 247);
    --purple-600: rgb(147, 51, 234);
    --purple-700: rgb(126, 34, 206);
    --purple-800: rgb(107, 33, 168);
    --purple-900: rgb(88, 28, 135);
}